<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liu.mvpdemo">

    <application
        android:name=".MvpApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.mvp.home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RxJavaActivity" />
        <activity android:name=".activity.operators.DisposableExampleActivity" />
        <activity android:name=".activity.operators.FlowableExampleActivity" />
        <activity android:name=".activity.operators.SingleObserverActivity" />
        <activity android:name=".activity.operators.CompletableObserverExampleActivity" />
        <activity android:name=".activity.operators.MapExampleActivity" />
        <activity android:name=".activity.operators.ZipExampleActivity" />
        <activity android:name=".activity.operators.BufferExampleActivity" />
        <activity android:name=".activity.operators.TakeExampleActivity" />
        <activity android:name=".activity.operators.ReduceExampleActivity" />
        <activity android:name=".activity.operators.FilterExampleActivity" />
        <activity android:name=".activity.operators.SkipExampleActivity" />
        <activity android:name=".activity.operators.ReplayExampleActivity" />
        <activity android:name=".activity.operators.MergeExampleActivity" />
        <activity android:name=".activity.operators.CreationExampleActivity" />
        <activity android:name=".activity.operators.AssistExampleActivity" />
        <activity android:name=".activity.rxbus.RxbusActivity" />
        <activity android:name=".activity.mvp.addtask.AddTaskActivity" />
        <activity android:name=".activity.mvp.taskdetail.TaskDetailActivity" />
        <activity android:name=".activity.mvp.login.LoginActivity"></activity>
    </application>

</manifest>